body {
  font-family: Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #800000;
	font-family: Georgia, serif;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

thead {
	font-weight: bold;
}

#emblem {
	width: 400px;
	height: 100px;
}

.introboldtext {
	font-size: 150%;
	font-weight: bold;
	text-decoration: underline;
}

.introitalictext {
	font-size: 150%;
	font-style: italic;
	text-decoration: underline;
}

.innerlists {
	line-height: 200%;
}

.languages {
	text-transform: uppercase;
	font-size: 80%;
	padding: 3px;
}

.languages::first-letter {
	font-size: 150%;
}

.selects {
	font-weight: bolder;
}

.inputs {
	font-weight: bold;
	background-color: #ffcccc;
}

.height150 {
	line-height: 150%;
}

#twitter {
	color: #007acc;
	text-decoration: none;
	text-shadow: 2px 2px 5px #0052cc;
	font-weight: bold;
}